.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  padding: 10px;
}
.address {
  display: flex;
}
.address li {
  list-style: none;
  padding: 0 20px;
}
.navbar {
  background: #E53935;
}