.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  padding: 10px;
}
.address {
  display: flex;
}
.address li {
  list-style: none;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.address li span {
  display: inline-block;
  margin-left: 5px;
}
.navbar {
  background: #E53935;
}