.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.address {
  display: flex;
}
.address li {
  list-style: none;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.address li span {
  display: inline-block;
  margin-left: 5px;
}
.social-links {
  display: flex;
  list-style: none;
}
.social-links li {
  padding-right: 10px;
}
.navbar {
  background: #E53935;
}
.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 1.3rem;
}